<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/arunpal17" target="_blank" rel="noopener">
                <i class="fa-brands fa-square-facebook"></i>
            </a>  
            <a href="https://www.instagram.com/arun.17_" target="_blank" rel="noopener">
                <i class="fa-brands fa-square-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/arunpal8347/" target="_blank" rel="noopener">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        </div>
        <div class="f-info-brand">&copy; RoomSpotter – Find your perfect stay</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
